<div class="result-details-container">
    <%if(prevQuery) { %>
      <div>Page: <span class="current-page"><%= prevQuery.page %></span></div>
      <div>Sol: <span class="current-sol"><%= prevQuery.sol %></span></div>
      <div>Cam: <span class="current-cam"><%= prevQuery.cam %><span></div>
    <% } %>
</div>
